<h1>Create a new image</h1>
<%= form_for @gallery_item do |f| %>
  <fieldset>
    <legend>Make your image</legend>
    <div>
      <%= f.label :caption %>
      <%= f.text_field :caption %>
    </div>
    <div>
      <%= f.label :opt_in %>
      <%= f.check_box :opt_in %>
    </div>
  </fieldset>
  <%= f.submit %>
<% end %>

